version: '3.4'

services:
  _base:
    &base
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - ./:/code
      - ~/.gitconfig:/root/.gitconfig

  dev:
    <<: *base
    command: ipython

  mkdocs:
    <<: *base
    entrypoint: "mkdocs"
    ports:
      - "8000:8000"
    command: ["serve", "--dev-addr=0.0.0.0:8000"]

  bump-patch:
    <<: *base
    command: bumpversion patch

  bump-minor:
    <<: *base
    command: bumpversion minor

  bump-major:
    <<: *base
    command: bumpversion major

  test:
    <<: *base
    command: pytest

  test-benchmarks:
    <<: *base
    # the `-c "."` prevents pytest from using the config specified in the pyproject.toml (which we don't want to use for benchmarks)
    command: pytest -c "." --benchmark-storage=.benchmarks/Linux-CPython-3.10-64bit/ --benchmark-compare=0001 --benchmark-compare-fail=mean:10% --benchmark-columns='mean,median,stddev,iqr' tests/benchmarks.py

  update-benchmarks:
    <<: *base
    command: >
      bash -c "
        pytest -c '.' --benchmark-storage=.benchmarks/ --benchmark-save=benchmark tests/benchmarks.py &&
        mv .benchmarks/Linux-CPython-3.10-64bit/0002_benchmark.json .benchmarks/Linux-CPython-3.10-64bit/0001_benchmark.json"

  lint:
    <<: *base
    entrypoint: ./docker/lint.sh
    environment:
      # this is used in ./docker/lint.sh to determine whether or not the lint step should fail if there files were...
      # changed by black/isort. You can change this value to "ci" to test how the lint step will run in...
      # the ci pipeline.
      CONTEXT: "local"
